! vim:ft=xdefaults:

Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 10
Xcursor.theme: default

XTerm*termName: xterm-16color
XTerm*internalBorder: 20
XTerm*borderWidth: 0
XTerm*utf8: true
XTerm*scrollbar: false
XTerm*cursorBlink: true
XTerm*selectToClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false
XTerm*faceName: xft:monospace:size=10
*font: xft:monospace:size=10

XTerm.vt100.translations: #override \n\
	Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
	Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

*foreground: #f8f8f2
*background: #001e3c

*cursorcolor: #f8f8f2

*color0: #0a2544
*color8: #394d70

*color1: #fc929e
*color9: #fc929e

*color2: #a6e22e
*color10: #a6e22e

*color3: #e6db74
*color11: #e6db74

*color4: #66b2ff
*color12: #66b2ff

*color5: #b78eff
*color13: #b78eff

*color6: #66d9ef
*color14: #66d9ef

*color7: #f8f8f2
*color15: #f8f8f2
