! vim:ft=xdefaults:

Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 12
Xcursor.theme: default

XTerm*termName: xterm-16color
XTerm*internalBorder: 24
XTerm*borderWidth: 0
XTerm*utf8: true
XTerm*scrollbar: false
XTerm*cursorBlink: true
XTerm*selectToClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false
XTerm*faceName: xft:monospace:size=12
*font: xft:monospace:size=12

XTerm.vt100.translations: #override \n\
	Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
	Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

*.background: #141d2b
*.foreground: #ffffff
*.cursorColor: #ffffff

*.color0: #1b2534
*.color8: #556074

*.color1: #ff2548
*.color9: #ff2548

*.color2: #9fef00
*.color10: #9fef00

*.color3: #ffaf00
*.color11: #ffaf00

*.color4: #0086ff
*.color12: #0086ff

*.color5: #e800ef
*.color13: #e800ef

*.color6: #986ce8
*.color14: #986ce8

*.color7: #ffffff
*.color15: #ffffff
